@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}




h1,h2,h3,h4,h5,h6,p,a,ul,li{
	margin: 0;
	padding: 0;
}


p{font-size:14px;line-height:30px;}


ul li{
	list-style-type:none;
}

a{text-decoration:none;}
/**********************neutral style start****************/
/*														 */
/**********************neutral style start****************/
.auto{
	margin:auto;
}

.no-padding{
    padding: 0;
	margin:0;
}

.overflow-auto{
    overflow: auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}

/*headline start*/

/*headline close*/

/**--taxonomy starts--**/
h3{font-size:20px;font-weight:400;}
/**--taxonomy close--**/

/** blue button **/
.blue-btn-cover{margin:20px 0;}
.blue-btn-cover a{text-decoration:none;text-transform:;color:#fff;font-weight:400;border-radius:2px;border:1px solid #fff;padding:10px 20px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;background:#2C97DF;}
.blue-btn-cover a:hover{background:#fff;transition:0.3s;color:#2C97DF;}

/** blue bordered white button **/
.blue-bordered-btn-cover{margin:20px 0;}
.blue-bordered-btn-cover a{text-decoration:none;text-transform:;color:#2C97DF;font-weight:400;border-radius:2px;border:1px solid #2C97DF;padding:10px 20px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;background:#fff;}
.blue-bordered-btn-cover a:hover{background:#2C97DF;transition:0.3s;color:#fff;}





.headline-cover{text-align:center;width:100%;background:transparent;padding:20px 0;margin:0 0 20px 0;}
.headline-cover h2{color:#000;margin:0 0 23px 0;}
.headline-cover p{color:#787878;margin:20px 0 0 0;}
.headline-cover .splash{margin:auto;background:#25AD60;width:7%;height:5px;border-radius:2.5px;}



.lf-headine-cover{text-align:left;margin:30px 0;}
.lf-headine-cover h2{color:#333333;font-size:25px;border-left:2px solid #4DB7FE;padding:0 0 0 15px;}
.lf-headine-cover p{font-size:18px;border-left:2px solid #E1E1E1;padding:0 0 0 15px;}














/**********************neutral style close****************/
/*														 */
/**********************neutral style close****************/









/**********************body style start****************/
/*													  */
/**********************body style start****************/


/**********************header section start****************/
/*												         */
/**********************header section start****************/

/*--header--*/
header{margin-bottom:150px;}
header .navbar{}
header .logo{margin-top:0px;}
header .navbar-header{position:relative;}
header .navbar-header .logo-cover{margin-left:20px;}
header .navbar-header .logo-cover a{font-size:20px;font-weight:300;color:#fff;margin-top:10px;position:absolute;text-decoration:none;}
header .main-menu-cover{background:#fff;-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;border-bottom:1px solid #ddd;height:;padding:25px 0;position:relative;}
header .navbar-header img{width:300px;margin-top:;-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
header .main-menu li{margin-right:15px;}
header .main-menu li a.active{border-top:;color:;}

header .main-menu div.dropdown-menu{margin:25px 0 0 0;width:250px;}

header .main-menu li.dropdown a i{margin-right:10px;color:#25AD60;font-size:18px;}
header .main-menu li.dropdown div.notification ul li{border-bottom:1px solid #ddd;}
header .main-menu li.dropdown div.notification ul li a{font-size:13px;padding:10px 15px;}
header .main-menu div.dropdown-menu ul{background:#fff;}
header .main-menu div.dropdown-menu ul li{background:;padding:7px 0;}
header .main-menu div.dropdown-menu ul li a{font-size:13px;text-decoration:none;display:block;padding:0 0 0 20px;}

header .main-menu li a{font-size:15px;text-transform:;font-weight:300;padding:;-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;color:#000;}

/* submenu */

header .main-menu li a.btn-login{margin-right:15px;font-weight:300;font-size:13px;background:#25AD60;padding:10px 28px;border-radius:30px;color:#fff;margin-top:8px;}
header .main-menu li a.btn-login i{margin-left:10px;color:#fff;}
header .main-menu li button{margin:;-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;border:1px solid #fff;background:#fff;}
header .main-menu li a.btn-login:hover{color:#fff;background:#25AD60;transition:0.3s;}
header .main-menu li a:hover{background:none;color:#25AD60;font-weight:300;}

/* header search */
header .main-menu-cover{}



/* search */



/*animation*/
header.shrink{}
header.shrink li button{margin:32px 0 20px 0;}
header.shrink .logo-cover{}
header.shrink .logo-cover img{width:200px;margin-top:-10px;}

header.shrink .main-menu-cover{background:#fff;height:90px;border-bottom:1px solid #ddd;}
header.shrink .main-menu-cover li a{font-size:13px;margin-top:-5px;color:#000;}
header.shrink .main-menu li a.btn-login{color:#fff;margin-top:0px;}



/*--header close--*/


/**********************header section close****************/
/*												         */
/**********************header section close****************/



.send-receive{border:1px solid #e8e8e8;padding:0 15px 20px 15px;margin-bottom:30px;}
.send-receive h3{background:#25AD60;color:#fff;font-weight:700;padding:15px;border:1px solid #e8e8e8;}
.send-receive .input-cover{margin:15px 0;}
.send-receive .input-cover p{}
.send-receive .input-cover select{width:100%;height:50px;border:1px solid #25AD60;border-radius:5px;padding:0 15px;}
.send-receive .input-cover input[type="text"]{width:100%;height:50px;border:1px solid #25AD60;border-radius:5px;padding:0 15px;}








.reserve{background:;margin-bottom:40px;border:1px solid #e9e9e9;}
.reserve .header{background:#000;}
.reserve .header h3{font-size:16px;color:#fff;padding:15px 10px;font-weight:700;}

.reserve .single-reserve{padding:15px 10px;border-bottom:1px solid #e9e9e9;}
.reserve .single-reserve .img-cover{}
.reserve .single-reserve .img-cover img{border:1px solid #ddd;width:80px;text-align:center;}

.reserve .single-reserve .info-cover{}
.reserve .single-reserve .info-cover h4{padding:4px 0;font-size:14px;font-weight:700;color:#25AD60;}
.reserve .single-reserve .info-cover p{}


.buy-sale-rate{}
.buy-sale-rate .header{background:#25AD60;}
.buy-sale-rate .header h3{font-size:16px;color:#fff;padding:15px 10px;font-weight:700;}

.buy-sale-rate table.table{}
.buy-sale-rate table.table thead{}
.buy-sale-rate table.table thead th{color:#25AD60;border:1px solid #e9e9e9;}
.buy-sale-rate table.table tr td{padding:10px 10px;border:1px solid #e9e9e9;}


.latest-update{border:1px solid #e9e9e9;margin-top:30px;}
.latest-update .header{background:#25AD60;}
.latest-update .header h3{font-size:16px;color:#fff;padding:15px 10px;font-weight:700;}
.latest-update .info-cover{background:;}
.latest-update .info-cover p{font-size:13px;padding:10px;}


/**********************slider section start****************/
/*												         */
/**********************slider section start****************/
.slider-section{background:url(img/slider.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;margin:auto;margin-top:;height:650px;position:relative;}
.slider-section .overlay{width:100%;margin:auto;background:rgba(5,5,5,0.6);margin-top:;height:650px;}
.slider-section #particles-js{width:100%;height:100vh;position:absolute;top:0;}


.slider-section .info-cover{text-align:center;margin:auto;margin-top:180px;width:100%;position:absolute;}



/*short-quote*/
.slider-section .info-cover .short-quote{margin:40px auto;}
.slider-section .info-cover .short-quote ul{text-align:center;text-transform:uppercase;font-size:17px;font-weight:200;list-style:none;color:#fff;}
.slider-section .info-cover .short-quote ul li{display:inline-block;position:relative;padding-right:30px;margin-left:20px;color:#fff;font-weight:300;}
.slider-section .info-cover .short-quote ul li:first-child{margin-left:0;}
.slider-section .info-cover .short-quote ul li:last-child{padding-right:0;}
.slider-section .info-cover .short-quote ul li:last-child:before{display:none;}
.slider-section .info-cover .short-quote ul li:before{position:absolute;content:"/";right:0;top:0;}

/*caption*/
.slider-section .info-cover .welcome{text-align:center;}
.slider-section .info-cover .welcome h1{text-align:center;text-transform:;font-size:3em;color:#fff;font-weight:bold;}
.slider-section .info-cover .welcome p{padding:10px 0;text-align:center;text-transform:;font-size:18px;color:#fff;font-weight:;}
.slider-section .info-cover .search-cover{border-radius:40px;background:rgba(255,255,255,0.1);width:80%;margin:auto;}
.slider-section .info-cover .search-cover form{padding:18px 0;}
.slider-section .info-cover .search-cover form input[type="text"]{padding:0 20px;width:80%;border-radius:50px 0 0 50px;border:0;height:50px;}
.slider-section .info-cover .search-cover form button{width:15%;height:50px;border-radius:0 50px 50px 0;border:0;background:#c21517;color:#fff;top:1px;position:relative;left:-3px;}

.slider-section .info-cover .circle-btn-cover{margin:40px 0 30px 0;}
.slider-section .single-ft-cover{padding:40px 0;background:rgba(255,255,255,0.1);margin:5px;border-radius:3px;}
.slider-section .single-ft-cover .ft-box-cover{margin:auto;text-align:center;}
.slider-section .single-ft-cover .ft-box-cover img{width:60px;margin:auto;text-align:center;}
.slider-section .single-ft-cover .ft-box-cover i{color:#4DB7FE;font-size:32px;padding-bottom:10px;}
.slider-section .single-ft-cover .ft-box-cover p{color:#fff;font-weight:500;}

/*arrow down*/


/* Media query */

@media only screen and (max-width:479px) {

.slider-section .info-cover .caption-cover h1{letter-spacing:5px;font-size:2em;line-height:40px}
.slider-section .info-cover .short-quote ul li {margin:0;padding:0;font-size:12px}
.slider-section .info-cover .short-quote ul li:before{display:none;}

}





/**********************slider section close****************/
/*												         */
/**********************slider section close****************/


/** breadcrumb **/
.breadcrumb-wrapper{background:url(img/photo-1534972195531-d756b9bfa9f2.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;margin:auto;margin-top:;height:;position:relative;}
.breadcrumb-wrapper .overlay{background:rgba(0,0,0,0.7);width:100%;height:inherit;margin:auto;padding:150px 0 20px 0;}
.breadcrumb-wrapper .left{}
.breadcrumb-wrapper .left h2{color:#fff;font-weight:;}
.breadcrumb-wrapper .right .breadcrumb{background:transparent;}
.breadcrumb-wrapper .right .breadcrumb li.active{color:#fff;}












.featured-categories-section{padding:80px 0;}
.featured-categories-section .headline-cover{}
.featured-categories-section .headline-cover h2{color:#566985;}
.featured-categories-section .headline-cover p{color:#566985;}

.featured-categories-section .img-cover{position:relative;text-align:center;margin-bottom:30px;overflow:hidden;}
.featured-categories-section .img-cover:hover img{transform: scale(1.2);}
.featured-categories-section .img-cover .info-cover{color:#fff;position:absolute;top:0;left:0;width:100%;background:rgba(0,0,0,0.4);height:100%;border-radius:5px;}
.featured-categories-section .img-cover .info-cover .location-btn-cover{position:absolute;top:25px;left:20px;text-align:left;}
.featured-categories-section .img-cover .info-cover .title-cover{position:absolute;text-align:left;bottom:5px;padding:15px;}
.featured-categories-section .img-cover .info-cover .title-cover h4{font-weight:700;font-size:22px;padding-bottom:8px;}
.featured-categories-section .img-cover .info-cover .title-cover p{line-height:20px;}
.featured-categories-section .img-cover .info-cover .location-btn-cover a{font-size:11px;color:#fff;padding:8px 12px;position:;background:#c21517;border-radius:20px;box-shadow:0px 0px 0px 7px rgba(255,255,255,0.2);text-decoration:none;font-weight:700;}
.featured-categories-section .img-cover img{width:100%;height:250px;text-align:center;margin:auto;border-radius:5px;}












.category-wrapper{margin-top:100px;padding:80px 0;min-height:900px;background:;}

.category-wrapper .nav{}
.category-wrapper .nav li{}
.category-wrapper .nav li a{}

.category-wrapper .tab-content{background:;}

.category-wrapper .category-name-header{padding:15px;background:#F2F6F9;margin:15px 0 20px 0;}
.category-wrapper .category-name-header h3{font-size:16px;}
.category-wrapper .single-category-wrapper{box-shadow:1px -1px 10px #ddd;background:#f7f7f7;margin-bottom:10px;}
.category-wrapper .single-category-wrapper .img-cover{width:100%;height:150px;overflow:hidden;}
.category-wrapper .single-category-wrapper .img-cover img{width:100%;margin:auto;text-align:center;}
.category-wrapper .single-category-wrapper .info-cover{text-align:center;}
.category-wrapper .single-category-wrapper .info-cover a{text-decoration:none;}
.category-wrapper .single-category-wrapper .info-cover h5{color:#c21517;padding:5px 10px 15px 10px;margin:10px 0;font-size:13px;}
.category-wrapper .single-category-wrapper:hover{background:#c21517;transition:.3s;}
.category-wrapper .single-category-wrapper:hover .info-cover h5{color:#fff;}

.category-wrapper .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #a71422;
}












/**********************business-banner-section start****************/
/*												         */
/**********************business-banner-section start****************/

.business-banner-section{background:url(img/bg9.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;margin:auto;}
.business-banner-section .overlay{width:100%;margin:auto;background:rgba(5,5,5,0.8);}
.business-banner-section .info-cover{text-align:center;border:10px solid rgba(255,255,255,0.2);padding:40px 50px;margin:120px auto;}
.business-banner-section .info-cover h1{color:#fff;padding:20px 10px;margin:;line-height:60px;font-weight:400;font-size:30px;}
.business-banner-section .info-cover p{color:#ddd;padding:10px 0;margin:;line-height:30px;font-weight:300;font-size:17px;}

.business-banner-section .info-cover .circle-btn-cover{margin:30px 0;}

/**********************business-banner-section close****************/
/*												         */
/**********************business-banner-section close****************/









































/**********************theme-features section start****************/
/*												                  */
/**********************theme-features section start****************/
.theme-features-section{width:100%;margin:auto;background:#fff;padding:80px 0 150px 0;}
.theme-features-row-section{margin-bottom:80px;}
.theme-features-section .theme-img-cover{overflow:hidden;}
.theme-features-section .theme-img-cover img{width:100%;}
.theme-info-cover{margin-top:60px;}
.theme-info-cover h3{font-size:24px;color:#354355;font-weight:300;margin:0 0 15px 15px;text-align:left;padding-bottom:30px;padding:5px 15px;}
.theme-info-row{margin:30px 0 20px 0;}
.theme-info-cover h4 {color:#34495E;font-weight:300;}
.theme-info-cover h4 i{background:#fff;color:#F97854;font-size:14px;margin-right:20px;padding:12px 12px;border-radius:50%;border:2px solid #F97854;}
.theme-info-cover p{font-size:13px;color:#A4B2B2;font-weight:300;margin:15px 0 15px 0;text-align:left;line-height:23px;}
/**********************theme-features section close****************/
/*												                  */
/**********************theme-features section close****************/

















































.events-page-wrapper{padding:80px 0;}
.events-page-wrapper .single-event-wrapper{margin:10px 0 30px 0;}
.events-page-wrapper .single-event-wrapper .date-info-wrapper{}
.events-page-wrapper .single-event-wrapper .date-info-wrapper .day-wrapper{margin-bottom:10px;}
.events-page-wrapper .single-event-wrapper .date-info-wrapper .day-wrapper h2{color:#fff;font-weight:500;border-radius:5px;padding:15px 12px;background:#00AEEF;text-align:center;}

.events-page-wrapper .single-event-wrapper .date-info-wrapper .month-year-wrapper{}

.events-page-wrapper .single-event-wrapper .date-info-wrapper .month-year-wrapper p{color:#34495e;font-size:16px;font-weight:700;padding:4px 0 8px 0;}
.events-page-wrapper .single-event-wrapper .date-info-wrapper .month-year-wrapper small{color:#34495e;font-size:14px;font-weight:500;}

.events-page-wrapper .single-event-wrapper .date-info-wrapper .title-wrapper h3{color:#34495e;font-size:20px;font-weight:700;padding:6px 0 8px 0;}
.events-page-wrapper .single-event-wrapper .date-info-wrapper .title-wrapper p{}

.events-page-wrapper .single-event-wrapper .venue-wrapper{}
.events-page-wrapper .single-event-wrapper .venue-wrapper h3{color:#34495e;font-size:20px;font-weight:700;padding:5px 0;}
.events-page-wrapper .single-event-wrapper .venue-wrapper p{color:#34495e;padding:5px 0;}
.events-page-wrapper .single-event-wrapper .venue-wrapper code{color:#34495e;font-weight:800;}
.events-page-wrapper .single-event-wrapper .venue-wrapper .b-w-btn-cover{margin:20px 0;}











.course-info-wrapper{margin:30px 0;padding:15px;border:1px solid #eaeaea;}
.course-info-wrapper .single-info{}
.course-info-wrapper .single-info .header{background:#eaeaea;}
.course-info-wrapper .single-info .header h4{text-transform:;color:#787878;padding:15px 15px;font-size:14px;font-weight:500;}
.course-info-wrapper .single-info .body{background:transparent;}
.course-info-wrapper .single-info .body ul{}
.course-info-wrapper .single-info .body ul li{text-transform:;color:#34495e;padding:10px 15px;font-size:13px;font-weight:500;border-bottom:1px solid #f8f8f8;}



.instructor-cover{background:#fff;padding:20px;margin:30px 0;border:1px solid #eaeaea;}
.instructor-cover .img-cover{}
.instructor-cover .img-cover img{width:100%;}
.instructor-cover h4{text-align:center;color:#787878;font-size:16px;padding:20px 0 5px 0;}
.instructor-cover h5{padding:5px 0;text-align:center;color:#787878;font-size:16px;text-transform:;}
.instructor-cover .bb-btn-cover{margin:20px 0;}
.course-page .bb-btn-cover{margin:10px 15px;}







/* Media query */
@media only screen and (max-width:479px) {
.text-ad-section{padding:50px 0; text-align:center}
.text-ad-section .ad-text-cover p{font-size:20px;}
.text-ad-section .ad-text-cover h1{font-size:35px;}
.text-ad-section .ad-text-cover h2{font-size:30px}
.text-ad-section .ad-text-cover .ad-btn{ margin-bottom:40px;}


}

/**********************text-ad section close****************/
/*											               */
/**********************text-ad section close****************/














/**********************team section start****************/
/*												        */
/**********************team section start****************/
.team-wrapper{padding:50px 0;}
.team-section{margin:auto;background:#f8f8f8;}
.team-section .team-cover{background:#fff;margin:30px 0;padding:30px 0 0 0;box-shadow:3px 5px 10px #eaeaea;border-radius:4px;}
.team-section .team-cover .img-cover{text-align:center;}
.team-section .team-cover .img-cover img{width:70px;margin:auto;border-radius:50%;}
.team-section .team-cover .status-info{text-align:center;padding:10px 0;margin:5px 0;}
.team-section .team-cover .status-info h5{color:#4F5E65;margin-bottom:7px;}
.team-section .team-cover .status-info p{color:#96ACB5;font-size:12px;line-height:20px;padding:0 40px;}

.team-section .team-cover .contact-info{text-align:center;border-top:1px solid #eaeaea;}
.team-section .team-cover .contact-info .contact-btns{float:left;width:50%;padding:14px 0;background:#fff;}
.team-section .team-cover .contact-info .contact-btns:first-child{border-right:1px solid #eaeaea;}
.team-section .team-cover .contact-info .contact-btns a{color:#ACBDC5;font-size:13px;text-decoration:none;}
.team-section .team-cover .contact-info .contact-btns a i{margin-right:7px;}
/**********************team section close****************/
/*												        */
/**********************team section close****************/




.table-section{}
.table-section .header{margin-bottom:20px;}
.table-section .header h3{padding:20px 0;color:#25AD60;font-weight:700;}
.table-section .header .splash{width:6%;min-height:3px;background:#25AD60;}
.table-section .table-wrapper{}
.table-section .table-wrapper table.table{border:1px solid #ddd;}
.table-section .table-wrapper table.table thead{}
.table-section .table-wrapper table.table thead th{color:#31465A;border:1px solid #ddd;}
.table-section .table-wrapper table.table tbody tr{}
.table-section .table-wrapper table.table tbody tr td{border:1px solid #ddd;padding:15px 5px;}
.table-section .table-wrapper table.table tbody tr td span{color:#fff;padding:8px 10px;border-radius:5px;}
.table-section .table-wrapper table.table tbody tr td span.processed{background:#25AD60;}
.table-section .table-wrapper table.table tbody tr td span.denied{background:#DA372B;}
.table-section .table-wrapper table.table tbody tr td span.processing{background:#5BC0DE;}
.table-section .table-wrapper table.table tbody tr td span i{}








.profile-section{padding:80px 0;}
.profile-section .profile-image-cover{margin:20px 40px;}
.profile-section .profile-image-cover img{width:250px;border-radius:50%;border:5px solid rgba(255,255,255,0.8);}

.profile-section .name-state{padding:40px 30px;border-right:1px solid #ddd;}
.profile-section .name-state h3{font-size:34px;margin:8px 0;}
.profile-section .name-state h4{font-size:24px;margin:8px 0;}
.profile-section .name-state p{font-size:20px;margin:8px 0;}
.profile-section .name-state .b-w-btn-cover{margin:30px 0;}
.profile-section .status-table{margin:50px 0 30px 0;}
.profile-section .status-table table{}
.profile-section .status-table table tr td{border:none;}
.profile-section .status-table table tr td.bold{font-weight:700;}
.profile-section .status-table table tr td i{background:#00AEEF;padding:8px 10px;border-radius:50%;color:#fff;}

.profile-section .skill-cover{padding:10px 10px 10px 50px;}
.profile-section .skill-cover h3{margin:10px 10px 20px 0;}
.profile-section .skill-cover ul{}
.profile-section .skill-cover ul li{margin:15px 5px 12px 0;float:left;}
.profile-section .skill-cover ul li a{text-transform:;color:#fff;background:#00AEEF;padding:10px 10px;border-radius:25px;font-size:12px;text-decoration:none;}

.profile-section .about{}
.profile-section .about h3{margin:10px 10px 20px 0;}
.profile-section .about p{}









/** single portfolio **/
.single-page-portfolio-wrapper{padding:90px 0;}
.single-page-portfolio-wrapper .single-portfolio{margin:auto;border:0;}
.single-page-portfolio-wrapper .single-portfolio img{width:100%;border:10px solid #f9f9f9;box-shadow:1px 1px 5px #ddd;}

.single-page-portfolio-wrapper .info-cover{padding:10px 0;}
.single-page-portfolio-wrapper .info-cover h3{padding-bottom:15px;}
.single-page-portfolio-wrapper .info-cover h5{padding:20px 0;}
.single-page-portfolio-wrapper .info-cover a{color:#0F8BFF;text-decoration:none;}
.single-page-portfolio-wrapper .info-cover h5 span{font-weight:200;margin-left:10px;}
.single-page-portfolio-wrapper .info-cover p{padding-bottom:15px;font-size:13px;}
.single-page-portfolio-wrapper .info-cover .tag-cover{}
.single-page-portfolio-wrapper .info-cover ul{margin:0;}
.single-page-portfolio-wrapper .info-cover ul li{font-size:13px;color:#333;padding:6px 12px;border:1px solid #787878; border-radius:3px;float:left;margin-right:6px;margin-bottom:6px;}
.single-page-portfolio-wrapper .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 4px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    border: none;
    background: #ccc;
}






/**********************course section start****************/
/*												        */
/**********************course section start****************/
.course-section{width:100%;margin:auto;background:#f8f8f8;padding:100px 0;}
.course-section .course-cover{margin-bottom:30px;border:1px solid #ddd;position:relative;}
.course-section .course-cover .label{position:absolute;top:10px;left:10px;background:#23AEF4;border-radius:22px;color:#fff;padding:7px 10px;text-align:center;}

.course-section .course-cover .info{padding:10px 20px;text-align:left;}
.course-section .course-cover .info h4{color:#4F5E65;font-weight:500;font-size:14px;padding:5px 0;}
.course-section .course-cover .info p{color:#acacac;text-transform:;font-size:13px;}
.course-section .course-cover .info .bb-btn-cover{margin:20px 0;}
/**********************course section close****************/
/*												        */
/**********************course section close****************/











/** trending-wrapper **/
.trending-wrapper{padding:80px 0:}


.section-two-section{}
.section-two-section .single-wrapper{}
.section-two-section .single-wrapper .img-cover{}
.section-two-section .single-wrapper .img-cover img{}
.section-two-section .single-wrapper .info{}
.section-two-section .single-wrapper .info p{padding:10px 0;}
.section-two-section .single-wrapper .info a.view-btn{padding:10px 15px;background:#4DB7FE;color:#fff;text-decoration:none;}


















/*-ol customization-*/
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 4px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    border:none;
    background: #fff;
}




.counterup-section .counterup-cover{margin:20px auto;padding:;}
.counterup-section .counterup-cover .single-count-cover{text-align:center;}
.counterup-section .counterup-cover .single-count-cover h3{text-align:center;font-size:15px;color:#fff;font-weight:;background:red;border-radius:3px;padding:10px 15px;}
.counterup-section .counterup-cover .single-count-cover h3.yellow{background:#FF9E50;}
.counterup-section .counterup-cover .single-count-cover h3.blue{background:#6AD1DF;}
.counterup-section .counterup-cover .single-count-cover h3.green{background:#07DD9F;}
.counterup-section .counterup-cover .single-count-cover h3.red{background:#F96563;}
.counterup-section .counterup-cover .single-count-cover h3{text-align:center;font-size:13px;color:#fff;font-weight:;background:red;border-radius:3px;padding:10px 15px;}
.counterup-section .counterup-cover .single-count-cover p.counter{text-align:center;color:#fff;font-size:25px;font-weight:100;padding:20px 10px;}
.counterup-section .counterup-cover .single-count-cover h4{text-align:center;color:#fff;font-size:15px;font-weight:500;padding:10px 10px;}
.counterup-section .counterup-cover .para-info{text-align:center;margin:auto;}
.counterup-section .counterup-cover .para-info p{margin:auto;text-align:center;color:#fff;font-size:25px;font-weight:300;padding:30px 30px;line-height:45px;}
.counterup-section .counterup-cover .circle-btn-cover{margin:;}


/**********************counterup section close****************/
/*										    		         */
/**********************counterup section close****************/

























.mobile-section{padding:80px 0;min-height:600px;overflow:hidden;}
.mobile-section .img-cover{margin:auto;text-align:center;}
.mobile-section .img-cover img{margin:auto;text-align:center;}
.mobile-section .info-cover{margin:80px 0 0 0;}
.mobile-section .info-cover h2{font-weight:500;margin-bottom:20px;}
.mobile-section .info-cover .splash{width:10%;height:5px;border-radius:2.5px;background:#c21517;margin-bottom:15px;}
.mobile-section .info-cover p{}
.mobile-section .info-cover .button-cover{margin:30px 0;}
.mobile-section .info-cover .button-cover a{color:#fff;font-weight:bold;text-decoration:none;background:#DC473C;padding:10px 15px;margin-right:15px;}
.mobile-section .info-cover .button-cover a i{margin-right:10px;}

































/**********************conclusion section start****************/
/*												              */
/**********************conclusion section start****************/

.conclusion-section-wrapper{background:url(img/bg3.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;}
.conclusion-section-wrapper .overlay{width:100%;margin:auto;background:rgba(5,5,5,0.4);}
.conclusion-section-wrapper .conclusion-content-cover{text-align:center;margin-top:20px;padding:100px 0;}
.conclusion-section-wrapper .conclusion-content-cover h1{font-size:24px;font-weight:600;margin-bottom:20px;color:#ddd;}
.conclusion-section-wrapper .conclusion-content-cover p{width:100%;max-width:980px;margin:auto;line-height:22px;padding-bottom:10px;color:#ddd;}
.conclusion-section-wrapper .conclusion-content-cover .b-w-btn-cover{margin:30px 0;}



/**********************conclusion section close****************/
/*												              */
/**********************conclusion section close****************/

















/**********************support-ad section start****************/
/*												              */
/**********************support-ad section start****************/

.support-ad-section-wrapper{background:url(img/bg3.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;}
.support-ad-section-wrapper .overlay{width:100%;margin:auto;background:rgba(52,73,94,0.6);}
.support-ad-section-wrapper .support-ad-content-cover{text-align:center;margin-top:20px;padding:100px 0;}
.support-ad-section-wrapper .support-ad-content-cover h1{font-size:24px;font-weight:600;margin-bottom:20px;color:#ddd;}
.support-ad-section-wrapper .support-ad-content-cover p{width:100%;max-width:980px;margin:auto;line-height:22px;padding-bottom:10px;color:#ddd;}
.support-ad-section-wrapper .support-ad-content-cover .b-w-btn-cover{margin:30px 0;}



/**********************conclusion section close****************/
/*												              */
/**********************conclusion section close****************/















































/**********************number counterup section start****************/
/*												                    */
/**********************number counterup section start****************/

.number-counterup-section{background:url(img/bg8.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;}
.number-counterup-section .overlay{background:rgba(5,5,5,0.7);width:100%;padding:100px 0;}
.number-counterup-section .single-number-counterup-wrapper{text-align:center;margin:30px 0;padding:20px 10px;}
.number-counterup-section .single-number-counterup-wrapper h2{margin:20px 0;font-weight:300;}
.number-counterup-section .single-number-counterup-wrapper h2 i{font-size:35px;border-radius:50%;padding:20px 23px;color:#E94E4C;border:;background:rgba(255,255,255,0.2);border:5px solid rgba(99,98,100,0.8);}
.number-counterup-section .single-number-counterup-wrapper h3{margin:20px 0;color:#fff;line-height:;font-size:2em;font-weight:700;}
.number-counterup-section .single-number-counterup-wrapper p{color:#fff;margin:20px 0;text-transform:uppercase;color:;line-height:30px;font-size:;font-weight:300;}

/**********************number counterup section close****************/
/*												                    */
/**********************number counterup section close****************/



















































































/**********************client say section start****************/
/*												              */
/**********************client say section start****************/

.client-say{background:#25AD60;width:100%;margin:auto;height:;padding:80px 0;}
.client-say .headtag-cover{}
.client-say .headtag-cover h3{color:#fff;font-size:34px;font-weight:700;padding:0 25px;}
.client-say .right-client-comment-wrapper{}
.client-say .right-client-comment-wrapper .client-img-info-cover{width:100%;margin:auto;}
.client-say .right-client-comment-wrapper .client-img-info-cover .client-img-cover{}
.client-say .right-client-comment-wrapper .client-img-info-cover .client-img-cover img{width:100%;border:5px solid #fff;border-radius:;}

.client-say .right-client-comment-wrapper .client-img-info-cover .client-name-cover{text-align:left;}
.client-say .right-client-comment-wrapper .client-img-info-cover .client-name-cover h3{font-size:16px;color:#c21517;line-height:;font-weight:600;margin:8px 0;}
.client-say .right-client-comment-wrapper .client-img-info-cover .client-name-cover p{font-size:14px;color:#;line-height:;font-weight:300;margin:3px 0;}

.client-say .right-client-comment-wrapper .client-say-cover{margin:20px 0;}
.client-say .right-client-comment-wrapper .client-say-cover p{font-size:14px;color:#787878;}
.client-say .comment-cover{text-align:;margin:auto;}
.client-say .comment-cover .client-say-cover{padding:20px;}
.client-say .comment-cover .client-say-cover .img-cover{margin-top:20px;}
.client-say .comment-cover .client-say-cover .img-cover img{border:7px solid #fff;width:100%;text-align:center;margin:auto;}
.client-say .comment-cover .client-say-cover .client-name-cover{text-align:;margin:20px 0;}
.client-say .comment-cover .client-say-cover .client-name-cover h3{color:#25AD60;font-size:17px;font-weight:500;}
.client-say .comment-cover .client-say-cover .client-name-cover p{color:#787878;padding-top:5px;}
.client-say .comment-cover p{font-size:13px;}
.client-say .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 4px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    border: none;
    background: #25AD60;
}

/*Media Query */
@media only screen and (max-width:479px) {

.client-say .overlay{padding:50px 0;}
.client-say .info-left-wrapper h1{font-size:20px;line-height:30px;text-align:center;padding:10px 5px;}

}


/**********************client say section close****************/
/*												              */
/**********************client say section close****************/








.subscribe-section{background:;padding:80px 0;}
.subscribe-section .search-cover{border-radius:40px;background:rgba(255,255,255,0.1);width:100%;margin:auto;}
.subscribe-section .search-cover form{padding:18px 0;margin:auto;}
.subscribe-section .search-cover form input[type="email"]{padding:0 20px;width:80%;border-radius:50px 0 0 50px;border:1px solid #c21517;height:50px;}
.subscribe-section .search-cover form button{width:17%;height:50px;border-radius:0 50px 50px 0;border:0;background:#c21517;color:#fff;top:0px;position:relative;left:-5px;font-weight:bold;}























/**********************company logos section start****************/
/*												                  */
/**********************ccompany logos section start****************/

.company-logos-section{width:100%;margin:auto;background:#F9F9F9;padding:80px 0 20px 0;}
.company-logos-section .headline-cover{}
.company-logos-section .headline-cover h3{color:#000;}
.company-logos-section .headline-cover p{color:#000;}
.company-logos-section .overlay{width:100%;margin:auto;background:rgba(255,255,255,0.9);padding:50px 0;}
.company-logos-section .company-logos-wrapper .single-company-wrapper{margin:20px;border:1px solid #ddd;border-radius:10px;}
.company-logos-section .company-logos-wrapper .single-company-wrapper img{display:block;width:100%;height: auto;border-radius:10px 10px 0 0;}
.company-logos-section .company-logos-wrapper .single-company-wrapper .shadowed-btn-cover a{font-size:12px;color:#fff;padding:10px 15px;position:;background:#25AD60;border-radius:8px;box-shadow:0px 0px 0px 7px rgba(255,255,255,0.2);text-decoration:none;font-weight:700;margin-bottom:15px;}




.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover{margin-top:-25px;text-align:left;padding:15px;}
.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover h4{margin:25px 0 10px 0;color:#566985;}
.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover p{font-size:13px;color:#566985;padding-bottom:15px;}
.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover p span{}
.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover p span i{margin-right:10px;color:#25AD60;}
.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover .address-link{border-top:1px solid #ddd;padding:15px 0 5px 0;}
.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover .address-link a{font-size:14px;color:#787878;text-decoration:none;}
.company-logos-section .company-logos-wrapper .single-company-wrapper .info-cover .address-link a i{color:#25AD60;margin-right:8px;}

















.company-logos-section .owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}

.company-logos-section .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 4px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    border: none;
    background: #ddd;
}
/**********************company logos section close****************/
/*												                  */
/**********************ccompany logos section close****************/

























/** team **/
.team-wrapper{}
.team-wrapper .single-team-wrapper{text-align:center;padding:30px 20px;background:#f9f9f9;box-shadow:1px 1px 10px #ddd;margin-bottom:32px;}
.team-wrapper .single-team-wrapper .img-cover{margin-bottom:10px;}
.team-wrapper .single-team-wrapper .img-cover img{text-align:center;margin:auto;border-radius:50%;border:2px solid #02A8E6;}
.team-wrapper .single-team-wrapper .info-cover{}
.team-wrapper .single-team-wrapper .info-cover h4{font-size:15px;padding:5px 0;margin-bottom:15px;}
.team-wrapper .single-team-wrapper .info-cover span{font-size:12px;padding:8px 18px;background:transparent;border:1px solid #;border-radius:25px;color:#565656;}


















/**********************contact banner section start****************/
/*												                  */
/**********************contact banner section start****************/

.more-featured-section{margin:auto;width:100%;height:auto;padding:50px 0;}
.more-featured-section .more-ft-wrapper{}
.more-featured-section .more-ft-icon-cover{text-align:center;}
.more-featured-section .more-ft-icon-cover:hover{color:#000;}
.more-featured-section .more-ft-icon-cover h1{font-size:30px;font-weight:300;color:#9f9f9f;margin:30px 0;}
.more-featured-section .more-ft-icon-cover p{font-weight:300;color:#9f9f9f;margin:30px 0;line-height:25px;font-size:15px;}


.more-featured-section .more-ft-carousel-cover{margin:auto;width:100%;max-width:600px;margin-top:60px;margin-bottom:30px;}
.more-featured-section .more-ft-carousel-cover .single-more-ft-carousel{margin:auto;}
.more-featured-section .more-ft-carousel-cover .single-more-ft-carousel img{margin:auto;display:block;width:100%;height: auto;}


/**********************contact banner section start****************/
/*												                  */
/**********************contact banner section start****************/






















/**********************map section start****************/
/*											           */
/**********************map section start****************/

.map-section{margin:auto;width:100%;}
.map_area{width:100%;background-color:#33ccff;margin:auto;}
#map-canvas{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}

#map-canvas .infowindow{
	width: 100%;
	max-width: 220px;
	min-height: 10px;
	padding: 5px;
	overflow: auto;
	color: #787878;
	/*background: #CCC;*/
}

/**********************map section close****************/
/*											           */
/**********************map section close****************/


















.service-section{padding:50px 0;}
.service-section .single-service-cover{text-align:center;padding:25px;margin:20px 0;}
.service-section .single-service-cover h1{}
.service-section .single-service-cover h1 i{font-size:24px;color:#00AEEF;padding:12px 14px;border-radius:50%;border:1px solid #ddd;}
.service-section .single-service-cover h4{padding:10px;font-weight:600;text-transform:uppercase;}
.service-section .single-service-cover p{}














/**********************footer start****************/
/*												  */
/**********************footer start****************/



.footer-section-1{width:100%;background:#e9e9e9;margin:auto;padding:80px 0 50px 0;}
.footer-section-1 h4{color:#192028;font-weight:700;font-size:14px;margin:12px 0;}
.footer-section-1 p{color:#192028;font-weight:300;font-size:12px;}

.footer-section-1 ul.quick-link{margin:15px 0 25px 0;}
.footer-section-1 ul.quick-link li{padding:6px 0;}
.footer-section-1 ul.quick-link li a{color:#192028;font-size:12px;font-weight:300;text-decoration:none;}
.footer-section-1 a i{text-align:center;width:35px;height:35px;color:#192028;border:1px solid #fff;border-radius:50%;padding-top:10px;}

.footer-section-1 .tag-widget-cover{}
.footer-section-1 .tag-widget-cover ul{margin:25px 0;}
.footer-section-1 .tag-widget-cover ul li{display:inline-block;margin-bottom:15px;margin-right:5px;}
.footer-section-1 .tag-widget-cover ul li a{background:rgba(255,255,255,0.1);text-decoration:none;border-radius:3px;color:#192028;font-weight:500;border:1px solid #192028;padding:5px 8px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;}
.footer-section-1 .tag-widget-cover ul li a:hover{color:#192028;background:#00AEEF;transition:0.3s;}

.footer-section-1 .social-link-cover{}
.footer-section-1 .social-link{margin-top:20px;}
.footer-section-1 .social-link-cover ul{}
.footer-section-1 .social-link-cover ul li{display:inline-block;margin-bottom:10px;margin-right:5px;}
.footer-section-1 .social-link-cover ul li a{}
.footer-section-1 .social-link-cover ul li a i{border-radius:50%;padding:8px 9px;background:rgba(255,255,255,0.1);color:#192028;}
.footer-section-1 .social-link-cover ul li a:hover i{background:rgba(255,255,255,0.2);color:#192028;}




/**footer section 2 start**/
.footer-section-2{width:100%;background:#25AD60;margin:auto;padding:30px 0}
.footer-section-2 span{color:#fff;font-size:12px;}
/**footer section 2 close**/





/**********************footer close****************/
/*											      */
/**********************footer close****************/










/**media queries satrt**/










@media only screen and (min-width: 320px) and (max-width: 980px){
/**features section 1 start**/
.features-section-1 .features-section-1-icon-cover{margin-top:30px;}
.features-section-1 .features-section-1-info-cover h4{text-align:center;}
.features-section-1 .features-section-1-info-cover p{text-align:center;}

/**features section 1 close**/
}






/**media queries close**/




















































/**********************breadcrumbs section start****************/
/*												              */
/**********************breadcrumbs section start****************/

.breadcrumbs-section-wrapper{background:url(img/featured2.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;}

.breadcrumbs-section-wrapper .breadcrumbs-content-cover{text-align:left;margin-top:20px;padding:130px 0 100px 110px;}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover h1{font-size:24px;font-weight:300;margin-bottom:20px;color:#ddd;margin-left:15px;text-transform:uppercase;}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover ul{}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover ul li{font-size:15px;float:left;padding:0 15px;position:relative;color:#fff;font-weight:300;}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover ul li:before{position:absolute;content:"/";right:-5px;top:0;color:#fff;}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover ul li:last-child:before{display:none;}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover ul li a{color:#23AEF4;}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover p{width:100%;max-width:980px;margin:auto;line-height:22px;padding-bottom:10px;color:#ddd;}
.breadcrumbs-section-wrapper .breadcrumbs-content-cover .circle-btn-cover{margin:30px 0;}



/**********************breadcrumbs section close****************/
/*												              */
/**********************breadcrumbs section close****************/














.location-info-icon-wrapper{padding:50px 0;background:#23AEF4;}
.location-info-icon-wrapper .group-icon-cover{padding:25px 10px;}
.location-info-icon-wrapper .group-icon-cover h4{margin:5px 0 10px 0;}
.location-info-icon-wrapper .group-icon-cover h4 i{font-size:20px;color:#fff;padding:15px 18px;border-radius:50%;background:transparent;border:1px solid rgba(255,255,255,0.7);-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;}
.location-info-icon-wrapper .group-icon-cover h4{color:#fff;font-size:15px;font-weight:300;margin:10px 0;}
.location-info-icon-wrapper .group-icon-cover p{margin:5px 0;padding:0 15px;font-size:12px;font-weight:400;color:#fff;}
.location-info-icon-wrapper .group-icon-cover:hover h4 i{color:#3498DB;background:#fff;transition:0.3s;}




.contact-body-wrapper{background:url(img/contact-bg.png) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;padding:50px 0;}
.contact-body-wrapper .left-contact{padding:5px 28px;}
.contact-body-wrapper .left-contact h3{color:#787878;font-weight:300;margin:10px 0;}
.contact-body-wrapper .left-contact h4{margin:15px 0 10px 0;}
.contact-body-wrapper .left-contact p{font-size:14px;color:#acacac;font-weight:200;margin:5px 0;}

.contact-body-wrapper .left-contact .social-link-cover{background:;margin-top:20px;}
.contact-body-wrapper .left-contact .social-link-cover ul{}
.contact-body-wrapper .left-contact .social-link-cover ul li{display:inline-block;margin-bottom:10px;margin-right:5px;}
.contact-body-wrapper .left-contact .social-link-cover ul li a{}
.contact-body-wrapper .left-contact .social-link-cover ul li a i{border-radius:50%;padding:8px 9px;background:#fff;color:#787878;border:1px solid #192028;}
.contact-body-wrapper .left-contact .social-link-cover ul li a:hover i{background:#2980b9;color:#fff;}

.contact-body-wrapper{}
.contact-body-wrapper .right-contact{padding:5px 28px;}
.contact-body-wrapper .right-contact h3{color:#000;font-weight:300;margin:0px 0;font-size:16px;}
.contact-body-wrapper .right-contact .form-cover{margin-top:15px;}
.contact-body-wrapper .right-contact .form-cover input[type="text"]{width:100%;border:1px solid #ddd;height:40px;margin-bottom:20px;border-radius:3px;padding:5px 15px;font-size:13px;}
.contact-body-wrapper .right-contact .form-cover textarea{width:100%;border:1px solid #ddd;border-radius:3px;height:100px;padding:5px 15px;font-size:13px;}
.contact-body-wrapper .right-contact .btn-cover input[type="submit"]{margin-top:15px;border:2px solid #00A4E7;border-radius:0;background:#00A4E7;color:#fff;box-shadow:1px 6px 10px #6DCBF2;}














.gallery-cover{}
.gallery-cover .single-gellery{position:relative;}
.gallery-cover .single-gellery .img-cover{width:100%;}
.gallery-cover .single-gellery .img-cover img{width:400px;height:300px;margin:auto;}
.gallery-cover .single-gellery .gallery-overlay{width:100%;}







/** login registration**/
.login-registration-page-wrapper{background:url(img/everest.jpg) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;margin:auto;height:100vh;}
.login-registration-page-wrapper .overlay{background:rgba(5,5,5,0.7);height:100vh;}

.login-registration-page-wrapper .logo-section {
    margin: auto;
    width: 100%;
    min-height: 100px;
}

.login-registration-page-wrapper .logo-wrapper {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.login-registration-page-wrapper .logo-wrapper .logo {
    margin: auto;
    width: 120px;
}

.login-registration-page-wrapper .logo-header {
    text-align: center;
}
.login-registration-page-wrapper .logo-header h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
}

.login-registration-page-wrapper .logo-header span {
    color:#46B692;
}

.login-registration-page-wrapper .logo-header p {
    color: #fff;
    font-size: 15px;
}

.login-registration-page-wrapper .login-box-wrapper{
    margin: auto;
    width: 100%;
    max-width: 350px;
    height: auto;
}

.login-registration-page-wrapper .panel {
    margin-bottom: 20px;
    border:none;
    background: none;
}

.login-registration-page-wrapper .log-header{
    border-bottom: 1px solid #1B2027;
}

.login-registration-page-wrapper .log-header h3 {
    text-align: center;
    margin-top: -40px;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}

.login-registration-page-wrapper input[type="text"] {
    font-size: 15px;
    color:#C0C3C8;
    height: 40px;
    border:none;
    background: transparent;
    border-radius: 0px;
}

.login-registration-page-wrapper input[type="password"] {
    font-size: 15px;
    color:#C0C3C8;
    height: 40px;
    border:none;
    background: transparent;
    border-radius: 0px;
}

.login-registration-page-wrapper input[type="text"]:focus{
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.login-registration-page-wrapper input[type="password"]:focus{
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.login-registration-page-wrapper .input-group-addon {
    /* padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1;*/
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

.login-registration-page-wrapper .log-btn{
    width: 100%;
    height: 40px;
    background: #3498db;
    border:none;
    font-size: 20px;
    border-radius: 5px;
    transition:.4s;
}

.login-registration-page-wrapper .log-btn:hover{
    background: #66ccff;
}

.login-registration-page-wrapper .nota-user{
    font-size: 12px;
    margin-top: 20px;
    color: #AFAFAF;
}
.login-registration-page-wrapper .nota-user a {
    color:#AFAFAF;
 }

.login-registration-page-wrapper .nota-user a:hover{
`   text-decoration: none;
}

.login-registration-page-wrapper .nota-user .glyphicon-chevron-right{
    color:#AFAFAF;
}




.details-wrapper{background:#F9F9F9;margin-top:100px;padding:80px 0;}
.details-wrapper .left-cover-1{background:#fff;padding:25px;border:1px solid #EEEEEE;}
.details-wrapper .left-cover-1 .img-info-wrapper{}

.details-wrapper .left-cover-1 .img-info-wrapper .img-wrapper{}
.details-wrapper .left-cover-1 .img-info-wrapper .img-wrapper img{}

.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper{}
.details-wrapper .left-cover-1 h2{margin:15px 0;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .category-cover{margin:25px 0;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .category-cover a{padding:8px 12px;background:#fff;border:1px solid #ddd;border-radius:3px;text-decoration:none;margin-right:5px;color:#C21517;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .splash{}

.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover{text-align:right;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover .view{margin:20px 0;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover .view p{}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover .view p span{padding:8px 12px;background:#C21517;border:1px solid #ddd;border-radius:3px;text-decoration:none;color:#fff;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover .view p span i{margin-right:10px;}

.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover .share{}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover .share a{padding:8px 12px;background:#C21517;border:1px solid #ddd;border-radius:3px;text-decoration:none;color:#fff;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper .share-view-cover .share a i{margin-right:10px;}

.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper h4{margin:20px 0;}
.details-wrapper .left-cover-1 .img-info-wrapper .info-wrapper p{margin:20px 0;}



.details-wrapper .right-cover{}
.details-wrapper .right-cover h3{margin:20px 0;font-weight:500;}

.details-wrapper .right-cover .table-wrapper{background:#fff;margin-bottom:35px;padding:20px;border:1px solid #EEEEEE;}
.details-wrapper .right-cover .table-wrapper table{}
.details-wrapper .right-cover .table-wrapper table tr{}
.details-wrapper .right-cover .table-wrapper table tr td{color:#787878;border:0;padding:12px;}
.details-wrapper .right-cover .table-wrapper table tr td.head{color:#8C91A3;}
.details-wrapper .right-cover .table-wrapper table tr td.data{color:#787878;text-align:right;}

.details-wrapper .right-cover .book-form-cover{background:#fff;margin-bottom:35px;padding:20px;border:1px solid #EEEEEE;}
.details-wrapper .right-cover .book-form-cover form{}
.details-wrapper .right-cover .book-form-cover form input[type="text"]{margin-bottom:10px;width:100%;border:1px solid #eee;padding:10px 15px;}
.details-wrapper .right-cover .book-form-cover form input[type="email"]{margin-bottom:10px;width:100%;border:1px solid #eee;padding:10px 15px;}
.details-wrapper .right-cover .book-form-cover form input[type="submit"]{margin:10px 0;background:#C21517;color:#fff;border:0;padding:10px 20px;}
.details-wrapper .right-cover .book-form-cover form textarea{margin-bottom:10px;width:100%;height:100px;border:1px solid #eee;padding:10px 15px;}
.details-wrapper .right-cover .book-form-cover form select{width:100%;border:1px solid #eee;padding:10px 15px;}
.details-wrapper .right-cover .book-form-cover form select option{width:100%;border:1px solid #eee;padding:10px 15px;}

.details-wrapper .right-cover .related-post-sidebar-wrapper{background:#FFFFFF;border:1px solid #EEEEEE;}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper{padding:15px 10px;border-bottom:1px solid #ddd;}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper .img-cover{}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper .img-cover img{}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper .info-cover{}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper .info-cover a{display:block;color:#565656;text-decoration:none;font-size:13px;font-weight:500;}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper:hover .info-cover a{color:#C21517;}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper .info-cover p{color:#787878;font-size:13px;font-weight:;}
.details-wrapper .right-cover .related-post-sidebar-wrapper .single-post-wrapper .info-cover p i{color:#C21517;margin-right:10px;}

.details-wrapper .left-review-cover{margin:20px 0;background:#fff;border:1px solid #EEEEEE;padding:25px;}
.details-wrapper .left-review-cover h3{}
.details-wrapper .left-review-cover h3 span{color:#C21517;font-weight:bold;}
.details-wrapper .left-review-cover .single-review-wrapper{padding:20px 0;margin:25px 0 10px 0;border-bottom:1px solid #ddd;}
.details-wrapper .left-review-cover .single-review-wrapper .img-cover{padding:15px;margin-left:20px;}
.details-wrapper .left-review-cover .single-review-wrapper .img-cover img{width:95px;border-radius:50%;}
.details-wrapper .left-review-cover .single-review-wrapper .review-info{}
.details-wrapper .left-review-cover .single-review-wrapper .review-info h4{padding:10px 0;color:#121212;}
.details-wrapper .left-review-cover .single-review-wrapper .review-info p{font-size:12px;padding:5px 0 10px 0;color:#A8ACBA;}
.details-wrapper .left-review-cover .single-review-wrapper .review-info p i{color:#C21517;margin-right:10px;}

.details-wrapper .add-review-wrapper{background:#fff;padding:25px;}
.details-wrapper .add-review-wrapper h4{padding:25px 0;}
.details-wrapper .add-review-wrapper .form-cover{}
.details-wrapper .add-review-wrapper .form-cover .input-cover{}
.details-wrapper .add-review-wrapper .form-cover .input-cover input[type="text"]{width:100%;height:45px;background:#F9F9F9;border:1px solid #eee;border-radius:3px;padding:10px;}
.details-wrapper .add-review-wrapper .form-cover .input-cover input[type="email"]{width:100%;height:45px;background:#F9F9F9;border:1px solid #eee;border-radius:3px;padding:10px;}
.details-wrapper .add-review-wrapper .form-cover .input-cover textarea{width:100%;height:150px;background:#F9F9F9;border:1px solid #eee;border-radius:3px;padding:10px;margin:25px 0;}
.details-wrapper .add-review-wrapper .form-cover .input-cover button{background:#C21517;color:#fff;border:0;border-radius:3px;padding:10px 15px;}
.details-wrapper .add-review-wrapper .form-cover .input-cover button i{margin-left:5px;}


































.log-reg-body{background:url(http://127.0.0.1:8000/front-end/img/bn.png) no-repeat center center fixed;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;width:100%;margin:auto;margin-top:;height:100vh;position:relative;}
.log-reg-body .logo-cover{margin-top:10%;margin-bottom:35px;}
.log-reg-body img{margin:auto;text-align:center;width:160px;}
.log-reg-body .log-reg-wrapper{margin-top:10%;box-shadow:0px 2px 10px #787878;border-radius:5px;padding-top:70px;text-align:;margin:auto;width:50%;min-height:300px;background:#fff;}
.log-reg-body .log-reg-wrapper h3{color:#c21517;text-align:center;font-weight:;padding-bottom:10px;}
.log-reg-body .log-reg-wrapper p{text-align:center;}
.log-reg-body .log-reg-wrapper a.fp{color:#c21517;}
.log-reg-body .log-reg-wrapper a.reg-link{color:#fff;font-weight:bold;text-align:center;text-decoration:none;background:#000;width:100%;display:inline-block;padding:15px 0;}

.log-reg-body .log-reg-wrapper form{padding:50px;}
.log-reg-body .log-reg-wrapper form input[type="text"]{border:0;border-radius:3px;width:100%;height:50px;padding:0 20px;border:1px solid #ddd;}
.log-reg-body .log-reg-wrapper form input[type="password"]{border:0;border-radius:3px;width:100%;height:50px;padding:0 20px;border:1px solid #ddd;}
.log-reg-body .log-reg-wrapper form a{color:#4DB7FE;text-decoration:none;}
.log-reg-body .log-reg-wrapper form button{margin-top:35px;background:#c21517;color:#fff;border:0;border-radius:3px;padding:10px 15px;}















































